@font-face {
    font-family: Comforta;
    src: url('../../fonts/Comforta.ttf');
}

.nav {
    width: 100%;
    height: 20%;
    backdrop-filter: blur(12px);
    border: 5px solid #14101080;
    display: flex;
    justify-content: center;
}

.li:hover, .li:focus, .li:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

.li {
    display: inline-block;
    color: beige;
    margin: 20px;
    margin-left: 50px;
    font-size: 35px;
    font-family: 'Comforta';

    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);

    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.logout {
    justify-content: right;
    list-style: none;
    color: rgb(194, 75, 75);
    margin: 20px;
    margin-left: 50px;
    font-size: 35px;
    font-family: 'Comforta';
}
.logout:a { 
    text-decoration: none;
}

.ul {
    display: flex;
    justify-content: center;
    
}

.hvr-grow {
   
  }
